## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.


Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [ ]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.2/6.0 MB 4.1 MB/s eta 0:00:02
     --- ------------------------------------ 0.5/6.0 MB 5.1 MB/s eta 0:00:02
     ----- ---------------------------------- 0.8/6.0 MB 6.7 MB/s eta 0:00:01
     ------ --------------------------------- 0.9/6.0 MB 5.4 MB/s eta 0:00:01
     -------- ------------------------------- 1.3/6.0 MB 5.6 MB/s eta 0:00:01
     ---------- ----------------------------- 1.5/6.0 MB 5.8 MB/s eta 0:00:01
     ------------ --------------------------- 1.8/6.0 MB 5.3 MB/s eta 0:00:01
     ------------- -------------------------- 2.1/6.0 MB 5.3 MB/s eta 0:00:01
     ---------------- ----------------------- 2.5/6.0 MB 5.6 MB/s eta 0:00:01
     ------------------ --------------------- 2.8/6.0 MB 5.8 MB/s eta 0:00:01
     ---------------------- ----------------- 3.3/6.0 MB 6.2 MB/s eta 0:00:01
     ------------------------- -------------- 3.8/6.0 MB 6.7 MB/s eta 0:00:01
     ---------------------------- ----------- 4.3/6.0 MB 6.9 MB/s eta 0:00:01
     ------------------------------- -------- 4.8/6.0 MB 7.1 MB/s eta 0:00:01
     ---------------------------------- ----- 5.2/6.0 MB 7.2 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 7.4 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 7.5 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 7.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1163691 sha256=8d35849218335b3209e9b91ce05f2d496367c940a0a0429eecfb19d281b6a586
  Stored in directory: c:\users\heetd\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed sqlalchemy-1.3.9

### Connect to the database

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\heetd\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\heetd\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\heetd\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\heetd\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\heetd\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\heetd\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\heetd\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.41-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.1 MB 3.3 MB/s eta 0:00:01
   -------- ------------------------------- 0.5/2.1 MB 4.9 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 6.0 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 6.0 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 6.7 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 6.3 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.6 MB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB ? eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.41 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in c:\users\heetd\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\heetd\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\heetd\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\heetd\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet>=1 in c:\users\heetd\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\heetd\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\heetd\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\heetd\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\heetd\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\heetd\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\heetd\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [ ]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]








##### Display the names of the unique launch sites  in the space mission

In [ ]:
%sql select distinct Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]





#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
%sql select * from SPACEXTABLE where Launch_Site regexp '^CCA' limit 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]





##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[(619967,)]






##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version regexp '^F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]


##### List the date when the first succesful landing outcome in ground pad was acheived.

In [ ]:
%sql select min(Date) from SPACEXTABLE where Mission_Outcome='Success'

 * sqlite:///my_data1.db
Done.

[('2010-06-04',)]



##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%sql select Booster_Version from SPACEXTABLE where Landing_Outcome='Success (drone ship)' and PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_<6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]





##### List the total number of successful and failure mission outcomes

In [ ]:
%sql select count(*) from  SPACEXTABLE where Mission_Outcome='Success'

 * sqlite:///my_data1.db
Done.

[(98,)]

In [ ]:
%sql select count(*) from  SPACEXTABLE where Mission_Outcome='Failure'

 * sqlite:///my_data1.db
Done.

[(0,)]




##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [ ]:
%sql select Booster_Version from SPACEXTABLE where PAYLOAD_MASS__KG_=(select max(PAYLOAD_MASS__KG_	) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]




##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

In [ ]:
%sql select substr(Date, 6,2),Booster_Version,Launch_Site,Landing_Outcome from SPACEXTABLE where substr(Date,0,5)='2015'

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('02', 'F9 v1.1 B1013', 'CCAFS LC-40', 'Controlled (ocean)'),
 ('03', 'F9 v1.1 B1014', 'CCAFS LC-40', 'No attempt'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', 'F9 v1.1 B1016', 'CCAFS LC-40', 'No attempt'),
 ('06', 'F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)'),
 ('12', 'F9 FT B1019', 'CCAFS LC-40', 'Success (ground pad)')]






##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%sql select count(Landing_Outcome),Landing_Outcome from SPACEXTABLE where Date>'2010-06-04' and Date<'2017-03-20' group by Landing_Outcome ORDER BY count(Landing_Outcome) ASC

 * sqlite:///my_data1.db
Done.

[(1, 'Failure (parachute)'),
 (1, 'Precluded (drone ship)'),
 (2, 'Uncontrolled (ocean)'),
 (3, 'Controlled (ocean)'),
 (3, 'Success (ground pad)'),
 (5, 'Failure (drone ship)'),
 (5, 'Success (drone ship)'),
 (10, 'No attempt')]